ios/platform/MessagingSDK.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingSDK.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportSDK.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/ZendeskCoreSDK.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportSDK.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportSDK.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/CommonUISDK.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/CommonUISDK.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/SDKConfigurations.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/SDKConfigurations.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingAPI.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingSDK.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/ZendeskCoreSDK.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingAPI.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportProvidersSDK.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingSDK.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/SDKConfigurations.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportProvidersSDK.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/ZendeskCoreSDK.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingAPI.xcframework/ios-arm64_i386_x86_64-simulator filter=lfs diff=lfs merge=lfs -text
ios/platform/MessagingAPI.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/SDKConfigurations.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportProvidersSDK.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/ZendeskCoreSDK.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/CommonUISDK.xcframework/Info.plist filter=lfs diff=lfs merge=lfs -text
ios/platform/CommonUISDK.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportProvidersSDK.xcframework/ios-arm64_x86_64-maccatalyst filter=lfs diff=lfs merge=lfs -text
ios/platform/SupportSDK.xcframework/ios-arm64_armv7 filter=lfs diff=lfs merge=lfs -text
